body {
	background-color: #111111;
	color: #aaaaaa;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

body * {
	color: #aaaaaa;
	font-family: 'arial';
	font-size: 24px;
}

main {
	padding: 30px;
	height: calc(100% - 50px);
	box-sizing: border-box;
}

.nav {
	position: sticky;
	top: 0;
	left: 0;
	height: 50px;
	width: 100vw;
	background-color: #222;
}

.canvas {
	display: block;
	margin: 50px auto 0 auto;
}

.ui {
	position: relative;
	/*background-color: #77222255;*/
	margin: 0 auto 0 auto;
	width: 640px;
	height: 360px;
	top: -360px;
}

.game_container {
	overflow: hidden;
	height: 420px;
}

.left_container, .right_container {
	height: 80vh;
	width: 40vw;
	display: inline-block;
}

.left_container {
	border: 1px solid red;
}

.right_container {
	border: 1px solid blue;
}

.eyetum {
	display: inline-block;
	border: 1px solid #aaa;
	margin: 10px;
	padding: 2px;
	background-color: #2222aa;
	border-radius: 5px;
}